<div class="container w-[65%] pb-2 mt-10 mx-auto">
    <div>
      <h1 class="text-4xl font-bold text-black">Productos</h1>
      <!-- Contenedor de la trabla de  Producto admin  -->
      <div class="py-2 mt-3">
        <div>
            <button class="bg-blue-600 px-3 py-2 rounded-lg  text-white">Agregar Producto</button>
        </div>
      <div class="flex flex-col">
          <div class="overflow-x-auto lg:-mx-6 lg:-mx-8">
            <div class="py-2 inline-block min-w-full lg:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="w-full ">
                  <thead class="border-b border-black">
                    <tr class="">
                      <th scope="col" class="text-[18px] font-bold text-black px-6 py-4 text-center">
                        Item
                      </th>
                      <th scope="col" class="text-[18px] font-bold text-black px-6 py-4 text-center">
                        Producto
                      </th>
                      <th scope="col" class="text-[18px] font-bold text-black px-6 py-4 text-center">
                        Costo
                      </th>
                      <th scope="col" class="text-[18px] font-bold text-black px-6 py-4 text-center">
                        Cantidad
                      </th>
                      <th scope="col" class="text-[18px] font-bold text-black px-6 py-4 text-center min-w-full md:w-40">
                        Oferta
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b border-black">
                      <td class="px-6 py-4 whitespace-nowrap text-md font-medium text-[#981352] text-center">1</td>
                      <td class="text-ld text-black font-medium px-6 py-4 whitespace-nowrap text-center">
                        Fruta de verano
                      </td>
                      <td class="text-lg text-black font-medium px-6 py-4 whitespace-nowrap text-center">
                        80
                      </td>
                      <td class="text-lg text-black font-medium px-6 py-4 whitespace-nowrap text-center">
                        2
                      </td>
                      <td class="text-lg text-black font-medium px-6 py-4 whitespace-nowrap text-center">
                        160
                      </td>
                      <td class="text-md text-white font-medium px-6 py-4 whitespace-nowrap text-center">
                        <button class="bg-red-500 px-3 py-2 rounded-lg ">Borrar</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fin del contenedor de la trabla de Producto admin -->
    </div>
  </div>
  
  
  
