<div class="mx-auto max-w-6xl bg-white mt-10 px-12 lg:px-24 mb-24 ">
    <form>
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col max-w-lg mx-auto">
        <h1 class="uppercase font-semibold text-center text-xl py-1">Formulario Registro</h1>
        <!-- Input Nombre y apellido -->
        <div class="-mx-3">
            <div class="px-3 mb-6 md:mb-0">
              <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="company">
                Nombres*
              </label>
              <input class="w-full bg-gray-200 text-black border border-gray-200 outline-0 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="Netboard">
              <div>
                <!-- <span class="text-red-500 text-xs italic">
                  Please fill out this field.
                </span> -->
              </div>
            </div>
            <div class="px-3">
              <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="title">
                Apellidos*
              </label>
              <input class="w-full bg-gray-200 text-black border border-gray-200 outline-0 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="Software Engineer">
            </div>
          </div>
        <!-- Fin Input Nombre y apellido -->

         <!-- Input email, username y passsword -->
         <div class="-mx-3">
            <div class=" px-3 mb-6 md:mb-0">
              <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="company">
                Nombre de Usuario*
              </label>
              <input class="w-full bg-gray-200 text-black border border-gray-200 outline-0 rounded py-3 px-4 mb-3" id="company" type="text" placeholder="Netboard">
              <div>
                <!-- <span class="text-red-500 text-xs italic">
                  Please fill out this field.
                </span> -->
              </div>
            </div>
            <div class="px-3">
              <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="title">
                Correo*
              </label>
              <input class="w-full bg-gray-200 text-black border border-gray-200 outline-0 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="Software Engineer">
            </div>

            <div class="px-3">
              <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="title">
                Contraseña*
              </label>
              <input class="w-full bg-gray-200 text-black border border-gray-200 outline-0 rounded py-3 px-4 mb-3" id="title" type="text" placeholder="Software Engineer">
            </div>
          </div>
        <!-- Fin Input email, username y passsword -->
        
        <!-- Inicio de los Select -->
        <div class="-mx-3 mb-2">
            <!-- <div class="px-3 mb-6 md:mb-0">
              <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="location">
                Status*
              </label>
              <div>
                <select class="w-full bg-gray-200 border border-gray-200 outline-0 text-black text-md py-3 px-4 pr-8 mb-3 rounded" id="location">
                  <option>Abuja</option>
                  <option>Enugu</option>
                  <option>Lagos</option>
                </select>
              </div>
            </div> -->
            <div class=" px-3">
              <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="job-type">
                Rol*
              </label>
              <div>
                <select class="w-full bg-gray-200 border border-gray-200 outline-0 text-black text-md py-3 px-4 pr-8 mb-3 rounded" id="job-type">
                  <option value="" selected>Seleciona una opcion</option>
                  <option value="0">Admin</option>
                  <option value="1">User</option>
                </select>
              </div>
            </div>
            </div>
        <!-- Fin de los Select -->
            <div class="-mx-3 md:flex mt-2">
              <div class="md:w-full px-3">
                <button class="md:w-full bg-blue-700 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-blue-500 hover:border-gray-100 rounded-full">
                  Registrar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
