<div class="container w-[65%] pb-2 mt-10 mx-auto">
  <div>
    <h1 class="text-4xl font-bold text-[#981352]">Mis pedidos</h1>
    <!-- Contenedor de la trabla de pedidos -->
    <div class="py-2 mt-3">
    <div class="flex flex-col">
        <div class="overflow-x-auto lg:-mx-6 lg:-mx-8">
          <div class="py-2 inline-block min-w-full lg:px-6 lg:px-8">
            <div class="overflow-hidden">
              <table class="w-full ">
                <thead class="border-b border-[#981352]">
                  <tr class="">
                    <th scope="col" class="text-[18px] font-bold text-[#981352] px-6 py-4 text-center">
                      Item
                    </th>
                    <th scope="col" class="text-[18px] font-bold text-[#981352] px-6 py-4 text-center">
                      Producto
                    </th>
                    <th scope="col" class="text-[18px] font-bold text-[#981352] px-6 py-4 text-center">
                      Costo
                    </th>
                    <th scope="col" class="text-[18px] font-bold text-[#981352] px-6 py-4 text-center">
                      Cantidad
                    </th>
                    <th scope="col" class="text-[18px] font-bold text-[#981352] px-6 py-4 text-center min-w-full md:w-40">
                      Costo Total
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="border-b border-[#981352]" *ngFor="let item of pedido;let i = index">
                    <td class="px-6 py-4 whitespace-nowrap text-md font-medium text-[#981352] text-center">{{i+1}}</td>
                    <td class="text-ld text-[#981352] font-medium px-6 py-4 whitespace-nowrap text-center">
                     {{item.nombre}}
                    </td>
                    <td class="text-lg text-[#981352] font-medium px-6 py-4 whitespace-nowrap text-center">
                      {{item.costo}}
                    </td>
                    <td class="text-lg text-[#981352] font-medium px-6 py-4 whitespace-nowrap text-center">
                      {{item.cantidad}}
                    </td>
                    <td class="text-lg text-[#981352] font-medium px-6 py-4 whitespace-nowrap text-center">
                      {{item.costo * item.cantidad}}
                    </td>
                  </tr>
                  <tr class="">
                    <td colspan="3"></td>
                    <td class="text-lg text-[#981352] font-medium text-end">
                      Total
                    </td>
                    <td class="text-lg text-[#981352] font-medium px-6 py-4 whitespace-nowrap text-center">
                      {{suma}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fin del contenedor de la trabla de pedidos -->
  </div>
</div>


